@import url(./config/global.css);

body{
    background-color: var(--fondo);
}

.hero{
    display: grid;
    grid-template-areas: 
    "menu"
    "pagina"
    "footer";
    grid-template-rows: 15vh 100vh 20vh;
    height: 100vh;
}

.menu{
    grid-area: menu;
    background-color: var(--negro);
    color: var(--blanco);
    padding: 0 2vw;
}

.pagina{
    grid-area: pagina;
}

.footer{
    grid-area: footer;
    background-color: aqua;
}

/* PAGINA */

.pagina .contenedor{
    display: grid;
    grid-template-areas: 
    "formulario tabla";
    grid-template-columns: 0.3fr 1fr;
    height: 100vh;
}

.pagina .contenedor .formulario{
    margin: 2vw;
    padding: 0 2vw;
    grid-area: formulario;
    background-color: var(--blanco);
    border-radius: 0.5vw;
}

/* FORMULARIO */

.pagina .contenedor .formulario{
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

.pagina .contenedor .formulario .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5vw;
}

/* TABLA */

.pagina .contenedor .contenido-tabla{
    grid-area: tabla;
    display: flex;
    flex-direction: column;
    margin: 4vw 0;
    padding: 0 2vw;
    row-gap: 2vw;
}

.pagina .contenedor .contenido-tabla .cabecera{
    display: grid;
    grid-template-areas: 
    "titulo botones";
    align-items: center;
    justify-content: space-between;
}

.pagina .contenedor .contenido-tabla .cabecera .titulo{
    grid-area: titulo;
}

.pagina .contenedor .contenido-tabla .cabecera .titulo p{
    font-size: 2vw;
    font-weight: bold;
}

.pagina .contenedor .contenido-tabla .cabecera .botones{
    grid-area: botones;
    display: flex;
    column-gap: 1.5vw;
}

.pagina .contenedor .contenido-tabla .tabla{
    overflow: auto;
    height: 70vh;
}

.pagina .contenedor .contenido-tabla .tabla table{
    width: 100%;
    text-align: center;
}

.pagina .contenedor .contenido-tabla .tabla table th, td {
    padding: 0.5vw 3vw;
    border-bottom: 1px solid #ddd;
}

.pagina .contenedor .contenido-tabla .tabla table tbody tr td{
    width: 10%;
}


/* FIN TABLA */